<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="callSettersOnNulls" value="true" />
	</settings>
	<typeAliases>
		<package name="cloud.framework" />
		<package name="cloud.test.entity" />
	</typeAliases>
	<plugins>
		<plugin interceptor="cloud.framework.page.PrepareInterceptor">
			<property name="sqlTail" value=".*istPage" />
		</plugin>
	</plugins>
</configuration>